<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>NY Times Scraper App</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</HTML>